.dirSection {
    width: 100%;
}

.dirItem {
    width: 100%;
    border: 1px solid black;
    transition: background-color 0.3s;
    margin: 8px;
    height: 30px;
}

.push-button {
    margin-bottom: 20px;
}

.selected {
    background-color: darkgray;
}

.selected:hover {
    background-color: darkgray;
}

.list-item {
    margin-left: 10px;
}

.td-content {
    display: flex;
    align-items: center;
}

th {
    padding-bottom: 10px;
}
