.dirSection {
    width: 100%;
}

.dirItem {
    width: 100%;
    border: 1px solid black;
    transition: background-color 0.3s;
    margin: 8px;
    height: 30px;
}

.dirItem:hover {
    background-color: lightgray;
}

.selected {
    background-color: #c4e2f8
}

.selected:hover {
    background-color: #c4e2f8
}

.list-item {
    margin-left: 10px;
}

.td-content {
    display: flex;
    align-items: center;
}

th {
    padding-top: 20px;
    padding-bottom: 10px;
    font-family: Arial;
    text-align: left;
}

td {
    font-family: Arial;
    cursor: pointer;
}

.no-select {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
  }
