.noteSection {
    width: 100%;
    border: 1px solid black;
    transition: background-color 0.3s;
    margin: 8px;
    min-height: 300px;
    padding-top: 17px;
    padding-left: 12px;
    padding-right: 12px;
    box-sizing: border-box; 
    overflow: hidden; 
}

.noteSection:hover {
    background-color: #e0e0e0;
}

.full-width-div {
    width: 100%;
}

.full-width-input {
    width: 100%;
    box-sizing: border-box;
    resize: vertical;
}
