.workspace {
    background-color: #d0bcdc;
    color: black;
    min-width: 300px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom:10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.item {
    min-height: 100px;
    padding: 10px;
}

.name-container {
    margin-left: 10px;
    display: inline-block;
    border: 2px solid transparent;
    padding-right: 40px;
    transition: border 0.3s ease;
}

.name-container:hover {
    border-color: black;
}

.editable-input {
    font-size: 1em;
    font-weight: normal;
    font-family: inherit;
    border: 2px solid black; 
    outline: none;          
    background: transparent;
    padding: 0;            
    margin: 0;     
    margin-left: 10px;          
    width: auto;              
    min-width: 50px;          
    padding-right: 200px;
}

.editable-name-container{
    display: flex;
    align-items: center;
}